.section {
  padding: 4rem 0;
  /*background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);*/
}

.elementcontainer {
  filter: drop-shadow(0.4rem 0.4rem 1rem rgba(0, 30, 200, 0.8));
}

.clippedelement {
	font-weight: bold;
  width: 100%;
  margin: 2px auto;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #D2B48C;
	color: white;
	clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%, 10% 50%);
}
