/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

 /* Infima variables, compleet list: */
 /* https://gist.github.com/abhigyantrips/b828ca46b2460c6699c73e0162f6be80 */
 /* https://gist.github.com/n4bb12/05cb485e2ac83b482ebcadee68e4ffaa */
 @import url('./colors/blue.css');
 @import url('./layouts/defaults.css');

 /* Custom Variables */

.nav-link {
	color: #212529 !important;
	background-color: #fff !important;
}

.nav-link.active {
	color: #fff !important;
	background-color: #D2B48C !important;
	font-weight: bold;
}

a {
	color: #343631 !important;
	text-decoration: none !important;
}

.actionbutton {
	color: #fff !important;
}
.actionbutton:hover {
	color: #000 !important;
}
.footer__link-item {
	color: #fff !important;
}






.bg-indicators {
	background-color: #6c757d !important;
}
.bg-transparent {
	background-color: #00000000 !important;
}








.divider
{
  position: relative;
  margin-top: 90px;
  height: 1px;
}

.div-transparent:before
{
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.div-arrow-down:after
{
  content: "";
  position: absolute;
  z-index: 1;
  top: -7px;
  left: calc(50% - 7px);
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
  background-color: white;
  border-bottom: 1px solid rgb(48,49,51);
  border-right: 1px solid rgb(48,49,51);
}

.div-tab-down:after
{
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: calc(50% - 10px);
  width: 20px;
  height: 14px;
  background-color: white;
  border-bottom: 1px solid rgb(48,49,51);
  border-left: 1px solid rgb(48,49,51);
  border-right: 1px solid rgb(48,49,51);
  border-radius: 0 0 8px 8px;
}

.div-stopper:after
{
  content: "";
  position: absolute;
  z-index: 1;
  top: -6px;
  left: calc(50% - 7px);
  width: 14px;
  height: 12px;
  background-color: white;
  border-left: 1px solid rgb(48,49,51);
  border-right: 1px solid rgb(48,49,51);
}

.div-dot:after
{
  content: "";
  position: absolute;
  z-index: 1;
  top: -9px;
  left: calc(50% - 9px);
  width: 18px;
  height: 18px;
  background-color: goldenrod;
  border: 1px solid rgb(48,49,51);
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px white,
          0 0 0 4px white;
}




table {
	display: table;
	width: initial;
	margin: 0 auto;
}


/****************************************************************************/
/****************************** charts **************************************/
/****************************************************************************/


.chart-container {
	text-align: center;
	margin: 0%;
}

.chart-panel {
	min-height: 350px;
	width: 60%;
	display: inline-block;
  margin: 0 auto;
}
@media only screen and (max-width: 1200px) {
	.chart-panel {
		width: 100%;
  }
}

.chart-panel2 {
	min-height: 350px;
  margin: 0 auto;
}


.red {
  color: #DC143C!important;
}
.red-border {
  border: 2px solid #DC143C;
}
.blue {
  border: 2px solid #1976D2;
  color: #1976D2;
}
.blue:hover {
  background-color: #1976D2;
  transition: all 0.3s ease-in-out;
}
